/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
}

/* Body Styling */
body {
    background-color: #f3f3f3;
    color: #333;
    line-height: 1.6;
}

/* Navbar Styling */
.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background: linear-gradient(90deg, #000000, #535353);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.navbar.sticky {
    transform: translateY(0);
}

.navbar.hidden {
    transform: translateY(-100%);
}

.navbar .logo {
    display: flex;
    padding: 10px 30px;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.navbar .logo img {
    max-height: 50px;
    margin-right: 10px;
}

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar ul li {
    margin-right: 20px;
    margin-top: 10px;
    position: relative;
    right: 10px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: color 0.3s ease;
}

.navbar ul li a:hover {
    color: #ffd700;
}

/* Hover Animation */
.navbar ul li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: #ffd700;
    left: 0;
    bottom: -5px;
    transition: width 0.3s ease;
}

.navbar ul li a:hover::after {
    width: 100%;
}

.catalog-container {
    padding-top: 80px;
    padding: 50px 20px;
}

.catalog-container h1 {
    margin-bottom: 20px;
    color: #444;
}

.catalog-container p {
    font-size: 18px;
    margin-bottom: 20px;
}

.catalog-section {
    margin-bottom: 40px;
}

.catalog-section h2 {
    margin-bottom: 20px;
    color: #444;
}

.card {
    border: none;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(0,0,0,0.1) !important;
}

.card-body {
    text-align: left;
}

.card h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.card p {
    font-size: 16px;
}

.btn {
    text-decoration: none;
    color: white;
    background-color: #6a11cb;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #2575fc;
}