*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
  }
  body {
    line-height: 1.6;
    color: #333;
    background-color: #f3f3f3;
    transition: all 0.3s ease;
  }
  
  .menu-toggle {
    display: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    .navbar {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 10px 15px;
    }
  
    .navbar ul {
      flex-direction: column;
      width: 100%;
      display: none;
    }
  
    .navbar ul li {
      margin: 10px 0;
    }
  
    .navbar ul li a {
      font-size: 18px;
    }
  
    .menu-toggle {
      display: block;
    }
  
    .navbar.active ul {
      display: flex;
    }
  }
  
.track-order-container {
    text-align: center;
    padding: 50px 20px;
}

.track-order-container h1 {
    margin-bottom: 20px;
    color: #333;
}

.track-order-container form {
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.track-order-container label {
    text-align: left;
    margin-bottom: 5px;
}

.track-order-container input {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.track-order-container button {
    padding: 10px 20px;
    background-color: #6a11cb;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

track-order-container button:hover {
    background-color: #2575fc;
}

@media (max-width: 768px) {
    .navbar-nav {
        text-align: center;
    }

    .blog-container {
        padding: 30px 15px;
    }

    .card {
        width: 100%;
    }
}
